<div class="container mt-4">
  <div class="card">
    <div class="card-header d-flex justify-content-between flex-row">
      <span>Sample List</span>
      <span>< ></span>
    </div>
    <div class="card-body col-6">
      <p class="card-text">A simple <span class="highlight">List</span> with left and right <a href="#">SVG icons</a></p>
      <ul class="list-group border my-border">
        <li class="list-group-item border-white">
          <a href="#" class="d-flex align-items-center flex-row">
            <img width="20" height="20" src="https://www.gstatic.com/images/icons/material/system/2x/inbox_black_20dp.png"/>
            <span class="text-secondary sidemenu-text">Inbox</span>
          </a>
        </li>
        <li class="list-group-item border-white">
          <a href="#" class="d-flex align-items-center flex-row">
            <img width="20" height="20" src="https://www.gstatic.com/images/icons/material/system/2x/grade_black_20dp.png"/>
            <span class="text-secondary sidemenu-text">Starred</span>
          </a>
        </li>
        <li class="list-group-item border-white">
          <a href="#" class="d-flex align-items-center flex-row">
            <img width="20" height="20" src="https://www.gstatic.com/images/icons/material/system/2x/send_black_20dp.png"/>
            <span class="text-secondary sidemenu-text">Sent mail</span>
          </a>
        </li>
        <li class="list-group-item border-white">
          <a href="#" class="d-flex align-items-center flex-row">
            <img width="20" height="20" src="https://www.gstatic.com/images/icons/material/system/2x/insert_drive_file_black_20dp.png"/>
            <span class="text-secondary sidemenu-text">Drafts</span>
          </a>
        </li>
        <li class="list-group-item border-white">
          <a href="#" class="d-flex align-items-center flex-row">
            <img width="20" height="20" src="https://www.gstatic.com/images/icons/material/system/2x/inbox_black_20dp.png"/>
            <span class="text-secondary sidemenu-text">Inbox</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>